.rankbg{
    background-image: url("../../media/background/rank_bg.PNG");
    background-position: center;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
}

.backbutton_rank{
    width: 300px;
    margin-right: 1600px;
    margin-top: 660px;
    transition: all 0.25s ease;
}
.backbutton_rank:hover{
    transform: translate(-8px,-8px);
}

.ranktable{
    font-size: 70px;
    text-align: center;
    color: #0a0903 ;
    overflow-y: scroll;
    max-width: 1800px;
    max-height: 1500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 800px;
}
.ranktable::-webkit-scrollbar {
    width: 16px;
}
 
.ranktable::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 100px;
}
 
.ranktable::-webkit-scrollbar-thumb {
    background-color: rgb(209, 209, 209);
    border-radius: 100px;
}
