body {
  /* background-color: orange; */
  background-image: url("../../media/background/main_menu_bg.jpg");
  /* background-size: cover; */
  color: white;
  font-family: Arial Rounded MT;
  text-align: center;
  height: 1080px;
  width: 1920px;
  overflow: hidden;
}

.main-menu :link {
  text-decoration: none;
  color: black;
  font-size: 50px;
  font-weight: bold;
}
.main-menu :hover {
  color: white;
  text-shadow: 2px 2px yellow, 4px 4px red;
}
.main-menu :visited {
  color: black;
}